aiogram==2.25.1
aiohttp==3.8.4
aiosignal==1.3.1
anyio==3.7.0
APScheduler==3.10.1
async-lru==1.0.2
async-timeout==4.0.2
attrs==23.1.0
Babel==2.9.1
beautifulsoup4==4.12.2
bs4==0.0.1
certifi==2023.5.7
cffi==1.15.1
charset-normalizer==3.1.0
cryptography==41.0.1
daemon==1.2
daemonize==2.5.0
exceptiongroup==1.1.2
feedparser==6.0.10
frozenlist==1.3.3
h11==0.14.0
httpcore==0.17.2
httpx==0.24.1
idna==3.4
magic-filter==1.0.9
multidict==6.0.4
Pillow
pyaes==1.6.1
pyasn1==0.5.0
pycparser==2.21
Pyrogram==1.0.7
PySocks==1.7.1
pyTelegramBotAPI==4.12.0
python-decouple==3.8
python-dotenv==1.0.0
python-telegram-bot==12.0.0
pytz==2023.3
requests==2.31.0
rsa==4.9
sgmllib3k==1.0.0
sniffio==1.3.0
soupsieve==2.4.1
sql==2022.4.0
telebot==0.0.5
telegram==0.0.1
Telethon==1.28.5
TgCrypto==1.2.5
tornado==6.3.2
tzlocal==5.0.1
urllib3==2.0.3
vk-api==11.9.9
yarl==1.9.2
